absl-py==1.4.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.8.6
aiohttp-retry==2.9.1
aiosignal==1.3.2
alembic==1.15.2
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
async-google-trans-new==1.4.6
async-lru==2.0.5
async-timeout==4.0.3
attrs==25.3.0
Automat==24.8.1
axios==0.4.0
babel==2.17.0
backoff==2.2.1
backports.tarfile==1.2.0
BareNecessities==0.2.8
bcrypt==4.3.0
beautifulsoup4==4.13.3
black==25.1.0
bleach==6.2.0
blinker==1.9.0
build==1.2.2.post1
cachelib==0.13.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==1.0.4
click==8.1.8
cmdstanpy==1.2.5
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.3.1
crossenv==1.5.0
cryptography==44.0.2
cycler==0.12.1
Cython==3.0.12
dataclasses-json==0.6.7
debtcollector==3.0.0
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
distlib==0.3.9
distro==1.9.0
Django==5.2
django-browser-reload==1.18.0
django-tailwind==4.0.1
dm-tree==0.1.9
dnspython==2.7.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
durationpy==0.9
einops==0.8.1
email_validator==2.2.0
et_xmlfile==2.0.0
etils==1.12.2
executing==2.2.0
fastapi==0.115.9
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.18.0
filetype==1.2.0
Flask==3.1.0
Flask-Admin==1.6.1
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.1
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-Script==2.0.6
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==25.2.10
fonttools==4.57.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.3.2
gast==0.6.0
gin-config==0.5.0
gitdb==4.0.12
gitignore==0.0.8
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.69.2
gradio==5.24.0
gradio_client==1.8.0
greenlet==3.1.1
groovy==0.1.2
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h5py==3.13.0
holidays==0.70
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanfriendly==10.0
hyperlink==21.0.0
id==1.5.0
idna==3.10
imageio==2.37.0
imbalanced-learn==0.13.0
imblearn==0.0
imgaug==0.4.0
immutabledict==4.2.1
import-ipynb==0.2
importlib_metadata==8.6.1
importlib_resources==6.5.2
incremental==24.7.2
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
json5==0.12.0
jsondb==0.1.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.14
kaggle==1.7.4.2
keras==3.9.2
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==32.0.1
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.51
langchain-experimental==0.3.4
langchain-google-genai==2.0.10
langchain-pinecone==0.2.5
langchain-tests==0.3.17
langchain-text-splitters==0.3.8
langdetect==1.0.9
langgraph==0.3.27
langgraph-checkpoint==2.0.24
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.61
langsmith==0.3.28
lazy_loader==0.4
libclang==18.1.1
lxml==5.3.2
Mail==2.1.0
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
ml_dtypes==0.5.1
mltu==1.2.5
mmh3==5.1.0
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
msgspec==0.19.0
multidict==6.4.2
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.34.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nh3==0.2.21
notebook==7.4.0
notebook_shim==0.2.4
npm==0.1.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
onnxruntime==1.21.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.32.0
opentelemetry-exporter-otlp-proto-common==1.32.0
opentelemetry-exporter-otlp-proto-grpc==1.32.0
opentelemetry-instrumentation==0.53b0
opentelemetry-instrumentation-asgi==0.53b0
opentelemetry-instrumentation-fastapi==0.53b0
opentelemetry-proto==1.32.0
opentelemetry-sdk==1.32.0
opentelemetry-semantic-conventions==0.53b0
opentelemetry-util-http==0.53b0
opt_einsum==3.4.0
optional-django==0.1.0
optree==0.15.0
oracledb==3.1.0
orjson==3.10.16
ormsgpack==1.9.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pdf2image==1.17.0
pefile==2023.2.7
pickleDB==1.3.2
pillow==11.1.0
pinecone==5.4.2
pinecone-client==6.0.0
pinecone-plugin-inference==3.1.0
pinecone-plugin-interface==0.0.7
platformdirs==4.3.7
pluggy==1.5.0
portalocker==3.1.1
posthog==3.24.0
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.50
propcache==0.3.1
prophet==1.1.6
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycocotools==2.0.8
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.8.1
pydantic_core==2.33.1
pydeck==0.9.1
pydicom==3.0.1
pydub==0.25.1
Pygments==2.19.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyJWT==2.10.1
pymongo==4.12.0
pyparsing==3.2.3
pypdf==5.4.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PySocks==1.7.1
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-socket==0.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart==0.0.20
python-slugify==8.0.4
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.4.0
qqdm==0.0.7
qtconsole==5.6.1
QtPy==2.4.3
readme_renderer==44.0
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.24.0
rsa==4.9
ruff==0.11.4
sacrebleu==2.5.1
safehttpx==0.1.6
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.31.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
seqeval==1.2.2
shapely==2.1.0
shellingham==1.5.4
simple-parsing==0.1.7
six==1.17.0
sklearn-compat==0.1.3
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.40
sqlparse==0.5.3
stack-data==0.6.3
stanio==0.5.1
starlette==0.45.3
statsmodels==0.14.4
streamlit==1.44.1
sympy==1.13.1
syrupy==4.9.1
tabulate==0.9.0
tailwind==3.1.5b0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-addons==0.22.0
tensorflow-datasets==4.9.8
tensorflow-hub==0.16.1
tensorflow-intel==0.0.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.17.0
tensorflow-model-optimization==0.8.0
termcolor==3.0.1
terminado==0.18.1
tesseract==0.1.3
text-unidecode==1.3
tf-models-official==2.5.1
tf-slim==1.1.0
tf_keras==2.19.0
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.3.30
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.2
torch==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.2
ttkthemes==3.2.2
twilio==9.5.2
twine==6.1.0
Twisted==24.11.0
twisted-iocpsupport==25.2.0
typeguard==2.13.3
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing==3.7.4.3
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.1
tzdata==2025.2
ultralytics==8.3.106
ultralytics-thop==2.0.14
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.0
virtualenv==20.30.0
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.17.2
wsproto==1.2.0
wtf==0.1
WTForms==3.2.1
xgboost==3.0.0
xxhash==3.5.0
yarl==1.19.0
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
